.linksWrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.link, .link img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.link {
  margin: 1rem;
  position: relative;
}

.link div {
  display: none;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  pointer-events: none;
  z-index: 2;
  align-items: center;
  text-align: center;
  justify-content: center;
}
 
.link:hover div {
  display: flex;
} 

@media(max-width: 1250px) {
  .link, .link img {
    width: 75px;
    height: 75px;
  }

  .link {
    margin: 0.5rem;
  }
}

@media(max-width: 850px) {
  .linksWrapper {
    max-width: 300px;
  }

  .link, .link img {
    width: 50px;
    height: 50px;
  }

  .link div {
    font-size: 0.6rem;
  }
}