/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --blue-color: #475f94;
  --red-color: #fa4224;
  --yellow-color: #fddc5c;
}

/* Baseline Styles */
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

#app {
  min-height: 100vh;
}

/* Utility Classes */
.container { 
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}