/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --blue-color: #475f94;
  --red-color: #fa4224;
  --yellow-color: #fddc5c;
}

/* Baseline Styles */
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
}

/* Utility Classes */
.container { 
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

/* Site styles */
#happy-birthday-header {
  width: 100%;
  border-bottom: 1px solid rgba(48,48,48,0.1);
  background: var(--blue-color);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#happy-birthday-header h1 {
  padding: 1rem;
  transition: opacity 1s;
}